.HEADERtable {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align to top */
    min-height: 20vh;       /* Full viewport height (optional for layout) */
    padding-top: 20px;
    border-collapse: separate;     /* MUST use this — default is 'collapse' */
    border-spacing: 400px 10px;   
}

.HEADERcircle-image{
    width : 15vw;
    height : 15vw;
    object-fit: cover;
    max-width: 50vw;
    border-radius: 50%;
}
